{% extends "base.html.twig" %}

{% block title %}AppBundle:Register:register{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h3>Register</h3>
    </div>
    <div class="card-block">
        {{ form(form) }}
    </div>
</div>
{% endblock %}
